<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Public Policy</h1>
            <span>Duke University</span>
            <span><address>Durham, NC</address><time>2013</time></span>
        </header>
        <p>
            <em>Thesis: Reducing Unintentional Prescription Drug Overdose Deaths in North Carolina: Policy Implications based on Current Public Health Surveillance Systems and Law Enforcement Records</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.A. in Political Science</h1>
            <span>University of Wisconsin - Stevens Point</span>
            <span><address>Stevens Point, WI</address><time>2009</time></span>
        </header>
    </article>
</section>
