<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Research Associate</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2021 to present</time></span>
            <h1>Research Associate</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2017 to 2020</time></span>
            <h1>Research Analyst</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2013 to 2016</time></span>
        </header>
        <p>Activities include developing and implementing project research designs; leading projects and/or tasks; implementing complex quantitative data methods; managing project timelines, budgets, and research staff; developing products such as research reports, journal articles, presentations, and media interviews; and raising research funding through proposal development.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Duke University</address><time>2013</time></span>
        </header>
        <p>Conducted literature review of previous employment-based reentry programs and analyzed recidivism outcomes for a prisoner reentry program evaluation. Researched several firearms policy topics. Created charts using Organ Procurement and Transplantation Network (OPTN) data and analyzed mortality data from the Centers for Disease Control for an organ transplantation symposium report.</p>
    </article>
    <article>
        <header>
            <h1>Summer Associate</h1>
            <span><address>North Carolina Division of Public Health</address><time>2012</time></span>
        </header>
        <p>Collected and analyzed data from the North Carolina Controlled Substances Reporting System (NC CSRS). Presented results to the advisory boards of the NC CSRS and Chronic Pain Initiative. Prepared policy memo on Good Samaritan laws for drug overdoses. </p>
    </article>
</section>
