<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Associate I</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2017 to Present</time></span>
        </header>
        <p><b>Principal/co-principal investigator:</b> Evaluation of Medicaid access for halfway house residents (National Institute of Justice); Jail population analysis and preliminary risk assessment development (Bureau of Justice Assistance)</p>
        <p><b>Project/data collection manager:</b> Research on law enforcement agency social media use and engagement (Office of Community Oriented Policing Services); Census of Publicly Funded Forensic Crime Laboratories, 2014 (Bureau of Justice Statistics)</p>
        <p><b>Lead data analyst:</b> Development and validation of an actuarial risk assessment tool for youth who have sexually offended (National Institute of Justice); Evaluation of aggression management treatment programs for youth in secure facilities (National Institute of Justice)</p>
    </article>
    <article>
        <header>
            <h1>Research Associate II</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2013 to 2016</time></span>
        </header>        
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
