<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Associate I</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2017 to Present</time></span>
            <h1>Research Associate II</h1>
            <span><address>Urban Institute</address></span>
            <span><address>Washington, DC</address><time>2013 to 2016</time></span>
        </header>
        <p><strong>Principal/co-principal investigator</strong> for an evaluation of Medicaid access for halfway house residents (National Institute of Justice) and a jail population analysis and preliminary risk assessment development (Bureau of Justice Assistance).</p>
        <p><strong>Project/data collection manager</strong> for a research project on law enforcement agency social media use and engagement (Office of Community Oriented Policing Services) and the 2014 Census of Publicly Funded Forensic Crime Laboratories (Bureau of Justice Statistics).</p>
        <p><strong>Lead data analyst</strong> for the development and validation of an actuarial risk assessment tool for youth who have sexually offended (National Institute of Justice) and an evaluation of aggression management treatment programs for youth in secure facilities (National Institute of Justice).</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Duke University</address><time>2013</time></span>
        </header>
        <p>Conducted literature review of previous employment-based reentry programs and analyzed recidivism outcomes for a prisoner reentry program evaluation. Researched several firearms policy topics. Created charts using Organ Procurement and Transplantation Network (OPTN) data and analyzed mortality data from the Centers for Disease Control for an organ transplantation symposium report.</p>
    </article>
    <article>
        <header>
            <h1>Summer Associate</h1>
            <span><address>North Carolina Division of Public Health</address><time>2012</time></span>
        </header>
        <p>Collected and analyzed data from the North Carolina Controlled Substances Reporting System (NC CSRS). Presented results to the advisory boards of the NC CSRS and Chronic Pain Initiative. Prepared policy memo on Good Samaritan laws for drug overdoses. </p>
    </article>
</section>
