<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Peer-Reviewed Journal Articles</h1>
            <span><time>2017</time></span>
        </header>
        <p>
            Irvin-Erickson, Y., La Vigne, N., Levine, N., Tiry, E., &amp; Bieler, S. “What Does Gunfire Detection Technology Tell Us About Gun Violence?” Applied Geography. Advance online publication. doi: 10.1016/j.apgeog.2017.06.013 
        </p>
    </article>
    <article>
        <header>
            <h1>Research Reports</h1>
            <span><time>2016</time></span>
        </header>
        <p>
            Mallik-Kane, K., Liberman, A., Dubay, L., Tiry, E., &amp; Jannetta, J. (2016). <a href="https://www.urban.org/sites/default/files/publication/86666/using_jail_to_enroll_low_income_men_in_medicaid.pdf">Using Jail to Enroll Low-Income Men in Medicaid.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Kim, K., &amp; Hu, C. (2016). <a href="http://www.urban.org/sites/default/files/publication/86276/road_map_to_pretrial_reform.pdf">Roadmap to Pretrial Reforms: A Profile Analysis of New Hampshire’s Pretrial Defendant Population.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Durose, M.R., Gardner, A.M., Walsh, K., &amp; Tiry, E. (2016). <a href="https://www.bjs.gov/content/pub/pdf/pffclrs14.pdf">Publicly Funded Forensic Crime Laboratories: Resources and Services, 2014.</a> Washington, DC: Bureau of Justice Statistics.
        </p>
        <br>
        <p>
            Gardner, A.M., Durose, M.R., Walsh, K., &amp; Tiry, E. (2016). <a href="https://www.bjs.gov/content/pub/pdf/pffclqap14.pdf">Publicly Funded Forensic Crime Laboratories: Quality Assurance Practices, 2014.</a> Washington, DC: Bureau of Justice Statistics.
        </p>
        <br>
        <header>
            <span><time>2015</time></span>
        </header>
        <p>
            Cahill, M., Jannetta, J., Tiry, E., Lowry, S., Becker-Cohen, M., Paddock, E., Serakos, M., Park, L., &amp; Hennigan, K. (2015). <a href="http://www.urban.org/sites/default/files/alfresco/publication-pdfs/2000622-Evaluation-of-the-Los-Angeles-Gang-Reduction-and-Youth-Development-Program-Year-4-Evaluation-Report.pdf">Evaluation of the Los Angeles Gang Reduction and Youth Development Program: Year 4 Evaluation Report.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <header>
            <span><time>2014</time></span>
        </header>
        <p>
            Jannetta, J., Cahill, M., Lowry, S., Tiry, E., Terry, D., Park, L., Martin, A., &amp; Moore, J. (2014). Assessment of the Los Angeles Community Safety Partnership. Unpublished agency report. Washington, DC: Urban Institute.
        </p>
    </article>
    <article>
        <header>
            <h1>Works in Progress</h1>
        </header>
        <p>
            Peterson, B. E., Tiry, E., Kim, K., &amp; La Vigne, N. “Exploring the Relationship between Residential Mobility and Recidivism for Individuals under Community Supervision”. In preparation.
        </p>
        <br>
        <p>
            Stacy, C. P., Irvin-Erickson, Y., &amp; Tiry, E. “Guns and Money: The Effect of Gunfire on Business Revenue”. In preparation.
        </p>
    </article>
</section>