<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Peer-Reviewed Journal Articles</h1>
        </header>
        <p>
            Langness, M., Zweig, J. M., Tiry, E., Henderson, E., Stahlmann, N., &amp; Bastomski, S. (2022). <a href="https://doi.org/10.1097/JFN.0000000000000369">Examining the implementation of the National Protocol for Sexual Assault Medical Forensic Examinations.</a> Journal of Forensic Nursing, 8(2):67-77. 
        </p>
        <br>
        <p>
            Stacy, C. P., Irvin-Erickson, Y., &amp; Tiry, E. (2021). <a href="https://doi.org/10.1186/s40163-021-00146-9">The impact of gunshots on place-level business activity.</a> Crime Science, 10(1), 1-9. 
        </p>
        <br>
        <p>
            Tiry, E., Walsh, K., Zweig, J., Farrell, L., &amp; Yu, L. (2020). <a href="https://doi.org/10.1177/0886260520961870">Beyond forensic evidence: Examining sexual assault medical forensic exam mechanisms that influence sexual assault case outcomes.</a> Journal of Interpersonal Violence, 37(7-8), NP5693-NP5727.
        </p>
        <br>
        <p>
            Irvin-Erickson, Y., La Vigne, N., Levine, N., Tiry, E., &amp; Bieler, S. <a href="https://doi.org/10.1016/j.apgeog.2017.06.013">What does gunfire detection technology tell us about gun violence?</a> Applied Geography, 86, 262-273.
        </p>
    </article>
    <article>
        <header>
            <h1>Research Reports</h1>
            <span><time>2022</time></span>
        </header>
        <p>
            Tiry, E., Jackson, A., &amp; Thompson, P. S. (2022). <a href="https://www.urban.org/research/publication/economic-costs-gun-violence-washington-dc">Economic Costs of Gun Violence in Washington, DC.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <header>
            <span><time>2021</time></span>
        </header>
        <p>
            Duane, M., Ervin, S., Doyle, L., Tiry, E., Dank, M., &amp; Hughes, A. (2021). <a href="https://www.urban.org/research/publication/evaluation-workforce-development-program-domestic-violence-survivors">An Evaluation of a Workforce Development Program for Domestic Violence Survivors.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Duane, M., Ervin, S., Nembhard, S, Taylor, R., Bastomski, S., &amp; Tiry, E. (2021). <a href="https://www.urban.org/research/publication/advancing-coordinated-response-intimate-partner-violence">Advancing a Coordinated Response to Intimate Partner Violence: A Systemwide Assessment from Allegheny County, Pennsylvania.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Samuels, J. &amp; Tiry, E. (2021). <a href="https://www.urban.org/research/publication/implementation-first-step-act-risk-and-needs-assessment-system">Implementation of the First Step Act: The Risk and Needs Assessment System.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E. &amp; Kim, K. (2021). <a href="https://www.urban.org/research/publication/measuring-risk-assessment-tool-performance">Measuring Risk Assessment Tool Performance.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Roberts Freeman, K., &amp; Adams, W. (2021). <a href="https://www.ojp.gov/pdffiles1/bjs/grants/254520.pdf">Prosecution of Federal Firearms Offenses, 2000-16.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Zweig, J. M., Coll, A., Klarman, R., &amp; Holman, S. (2021). <a href="https://www.urban.org/research/publication/new-world-work-principles-and-practices-addressing-harassment">The New World of Work: Principles and Practices for Addressing Harassment.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Zweig, J. M., Henderson, E., Farrell, L., Langness, M., Stahlmann, N., Tiry, E., &amp; Walsh, K. (2021). <a href="https://www.urban.org/research/publication/evaluation-implementation-sexual-assault-medical-forensic-exam-safe-protocol">An Evaluation of the Sexual Assault Medical Forensic Exam (SAFE) Protocol: Methods, Data Collection Activities, and Participants.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <header>
            <span><time>2020</time></span>
        </header>
        <p>
            Hu, C., Harvell, S., Kim, K., &amp; Tiry, E. (2020). <a href="https://www.urban.org/research/publication/researcher-practitioner-partnerships">Researcher-Practitioner Partnerships.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Langness, M., &amp; Okeke, C. (2020). <a href="https://www.urban.org/research/publication/mass-violence-and-terrorism-victimization-what-we-know-research-and-practice-based-evidence">Mass Violence and Terrorism Victimization: What We Know from Research- and Practice-Based Evidence.</a> Washington, DC: Center for Victim Research.
        </p>
        <br>
        <p>
            Tiry, E., Shukla, R., &amp; Mallik-Kane, K. (2020). <a href="https://www.ojp.gov/library/publications/evaluating-medicaid-access-halfway-house-residents-research-partnership">Evaluating Medicaid Access for Halfway House Residents: A Research Partnership with the Connecticut Department of Correction.</a> Report submitted to the U.S. Department of Justice. 
        </p>
        <br>
        <header>
            <span><time>2019</time></span>
        </header>
        <p>
            Kim, K., Duwe, G., Tiry, E., Oglesby-Neal, A., Hu, C., Shields, R., Letourneau, E., &amp; Caldwell, M. (2019). <a href="https://nij.ojp.gov/library/publications/development-and-validation-actuarial-risk-assessment-tool-juveniles-history">Development and Validation of an Actuarial Risk Assessment Tool for Juveniles with a History of Sexual Offending.</a> Report submitted to the U.S. Department of Justice.
        </p>
        <br>
        <p>
            Oglesby-Neal, A., Tiry, E., &amp; Kim, K. (2019). <a href="https://www.urban.org/research/publication/public-perceptions-police-social-media">Public Perceptions of Police on Social Media.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Oglesby-Neal, A., &amp; Kim, K. (2019). <a href="https://www.urban.org/research/publication/social-media-guidebook-law-enforcement-agencies">Social Media Guidebook for Law Enforcement Agencies.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Zweig, J., Sniffen, C., &amp; Tiry, E. (2019). <a href="https://www.urban.org/research/publication/examining-ubers-use-sexual-misconduct-and-violence-taxonomy-and-development-ubers-united-states-safety-report">Examining Uber’s Use of the Sexual Misconduct and Violence Taxonomy and the Development of Uber’s United States Safety Report.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <header>
            <span><time>2016</time></span>
        </header>
        <p>
            Mallik-Kane, K., Liberman, A., Dubay, L., Tiry, E., &amp; Jannetta, J. (2016). <a href="hhttps://www.urban.org/research/publication/using-jail-enroll-low-income-men-medicaid">Using Jail to Enroll Low-Income Men in Medicaid.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Tiry, E., Kim, K., &amp; Hu, C. (2016). <a href="https://www.urban.org/research/publication/road-map-pretrial-reforms">Roadmap to Pretrial Reforms: A Profile Analysis of New Hampshire’s Pretrial Defendant Population.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <p>
            Durose, M.R., Gardner, A.M., Walsh, K., &amp; Tiry, E. (2016). <a href="https://www.bjs.gov/content/pub/pdf/pffclrs14.pdf">Publicly Funded Forensic Crime Laboratories: Resources and Services, 2014.</a> Washington, DC: Bureau of Justice Statistics.
        </p>
        <br>
        <p>
            Gardner, A.M., Durose, M.R., Walsh, K., &amp; Tiry, E. (2016). <a href="https://www.bjs.gov/content/pub/pdf/pffclqap14.pdf">Publicly Funded Forensic Crime Laboratories: Quality Assurance Practices, 2014.</a> Washington, DC: Bureau of Justice Statistics.
        </p>
        <br>
        <header>
            <span><time>2015</time></span>
        </header>
        <p>
            Cahill, M., Jannetta, J., Tiry, E., Lowry, S., Becker-Cohen, M., Paddock, E., Serakos, M., Park, L., &amp; Hennigan, K. (2015). <a href="https://www.urban.org/research/publication/evaluation-los-angeles-gang-reduction-and-youth-development-program-year-4-evaluation-report">Evaluation of the Los Angeles Gang Reduction and Youth Development Program: Year 4 Evaluation Report.</a> Washington, DC: Urban Institute.
        </p>
        <br>
        <header>
            <span><time>2014</time></span>
        </header>
        <p>
            Jannetta, J., Cahill, M., Lowry, S., Tiry, E., Terry, D., Park, L., Martin, A., &amp; Moore, J. (2014). Assessment of the Los Angeles Community Safety Partnership. Unpublished agency report. Washington, DC: Urban Institute.
        </p>
    </article>
    <article>
        <header>
            <h1>Blog Posts</h1>
        </header>
        <p>
            Tiry, E. &amp; Samuels, J. (2021, April 30). <a href="https://www.urban.org/urban-wire/three-ways-increase-impact-first-step-acts-earned-time-credits">Three Ways to Increase the Impact of the First Step Act’s Earned Time Credits.</a> Urban Wire.
        </p>
        <br>
        <p>
            Tiry, E. &amp; Langness, M. (2020, October 15). <a href="https://www.urban.org/urban-wire/three-evidence-gaps-we-need-fill-better-support-survivors-mass-violence-and-terrorism">Three Evidence Gaps We Need to Fill to Better Support Survivors of Mass Violence and Terrorism.</a> Urban Wire.
        </p>
        <br>
        <p>
            Zweig, J. &amp; Tiry, E. (2019, December 6). <a href="https://www.urban.org/urban-wire/three-lessons-businesses-can-learn-ubers-collecting-and-reporting-sexual-assault-data">Three Lessons Businesses Can Learn from Uber’s Collecting and Reporting Sexual Assault Data.</a> Urban Wire.
        </p>
        <br>
        <p>
            Tiry, E. &amp; Samuels, J. (2019, September 5). <a href="https://www.urban.org/urban-wire/how-can-first-step-acts-risk-assessment-tool-lead-early-release-federal-prison">How Can the First Step Act's Risk Assessment Tool Lead to Early Release from Federal Prison?.</a> Urban Wire.
        </p>
        <br>
        <p>
            Oglesby-Neal, A. &amp; Tiry, E. (2019, February 20). <a href="https://urban-institute.medium.com/how-to-categorize-large-amounts-of-text-data-71e1fd590e2a">How to Categorize Large Amounts of Text Data.</a> Data@Urban.
        </p>
    </article>
    <article>
        <header>
            <h1>Web Features</h1>
        </header>
        <p>
            Tiry, E. &amp; Samuels, J. (2021). The First Step Act’s Risk Assessment Tool: Who Is Eligible for Release from Federal Prison? https://apps.urban.org/features/risk-assessment/ 
    </article>
</section>